<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Confirmation</title>
</head>
<body>
  <h1>Hi <%= @user.first_name %>,</h1>
  <p>
    Thank you for your order! We have received your order and will begin processing it shortly.
  </p>
  <p>
    Here are the details of your order:
  </p>
  <ul>
    <li>Order Date: <%= @order.created_at.strftime("%B %d, %Y") %></li>
  </ul>
  <p>
    Items in your order:
  </p>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @order.line_items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(item.product.price) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
   <p>Price Total: <%= @order.amount_cents / 100 %> GBP</p>
  <p>
    If you have any questions or need to make changes to your order, please contact us as soon as possible.
  </p>
  <p>
    Best regards,
    <br>
    Your Shop Team
  </p>
</body>
</html>
