<%= render "shared/request_header" %>
<div class="request-form-container">
  <div class="left-request-form">
  <div class="design-ideas">
    <div class="design-idea-photo">
      <%= image_tag("custom_1", class: "") %>
    </div>
        <div class="design-idea-photo">
      <%= image_tag("custom_2", class: "") %>
      </div>
        <div class="design-idea-photo">
      <%= image_tag("custom_3", class: "") %>
      </div>
        <div class="design-idea-photo">
      <%= image_tag("custom_4", class: "") %>
      </div>
        <div class="design-idea-photo">
      <%= image_tag("custom_5", class: "") %>
      </div>
        <div class="design-idea-photo">
      <%= image_tag("custom_6", class: "") %>
      </div>
  </div>
  </div>
  <div class="right-request-form">
  <h2>Choose a flavour</h2>
  <% @flavours.each do |flavour| %>
    <%= link_to new_custom_cake_flavour_design_detail_path(@custom_cake, flavour), style: "text-decoration: none; color: black;" do %>
      <div class="flavour-button">
        <h5><%=flavour.name  %></h5>
        <p><%=flavour.description  %></p>
      </div>
    <% end %>
  <% end %>
  </div>

</div>
