<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Get in touch", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About us", "#", class: "nav-link" %>
          </li>
        </ul>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
            <% if current_user.admin? %>
              <li class="nav-item">
                <%= link_to "New cake", "/products/new", class: "nav-link" %>
              </li>
            <% end %>
        <% if user_signed_in? %>
          <% if current_user.orders.where(state: 'pending').last.present? %>
            <li class="nav-item">
              <%= link_to  "/orders/#{current_user.orders.last.id}", class: "nav-link" do %>
                <%= image_tag "basket-icon.svg", class: "avatar dropdown-toggle"%>
              <% end %>
            </li>
          <% end %>
          <li class="nav-item dropdown">
          <%# add link to basket  %>

          <%# end %>
            <%= image_tag "bars-solid.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My orders", "/users/#{current_user.id}/orders", class: "dropdown-item" %>
              <%= link_to "Edit my Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
