<div class="navbar-container">
  <div class="navbar-flexbox">
    <div class="sub-box">
      <%= link_to "Get in touch", new_contact_message_path, class: "nav-link #{"link-box" if current_page?(new_contact_message_path)}" %>
    </div>
      <div class="sub-box">
          <%# <% if current_user.admin? %>
            <%# <%= link_to "New cake", "/products/new", class: "nav-link" %>
          <%# <% end %>
        <%= link_to "Order managment", order_managment_path,
        class: "nav-link #{"link-box" if current_page?(order_managment_path) || current_page?(order_managment_shop_path) || current_page?(user_order_path(user_id: current_user.present? ? current_user.id : 1, id:  @order.present? ? @order.id : 1)) || current_page?(request_path(id:  @request.present? ? @request.id : 1))}"  %>

      <% if user_signed_in? %>
       <% basket = current_user.orders.where(state: 'pending').last if current_user.orders.where(state: 'pending').last.present? %>
        <% if basket.present? && basket.line_items.present? %>
            <%= link_to  "/orders/#{current_user.orders.last.id}", class: "nav-link" do %>
              <%= image_tag "basket-icon.svg", class: "avatar dropdown-toggle"%>
            <% end %>
        <% end %>
        <%= image_tag "bars-solid.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

          <%= link_to "Edit my Profile", edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
          <% else %>
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
