<%= render "shared/navbar-new" %>
<%= render "shared/header" %>
  <div class="summary-header">
    <h1>Custom Cake - <%= request.custom_cake.name %></h1>
        <%= link_to order_managment_path, class: "back-button" do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
    <h4>Thanks for ordering!</h3>
    <h4><strong>Request:</strong>
      <span
      id="<%= if request.status == "pending"
        "status-pending"
        elsif request.status == "in progress"
        "status-in-progress"
        elsif request.status == "Completed"
        "status-completed"
        else
          ""
        end%>"><%=request.status%>
      </span>
    </h4>
    <h4><strong>Paid Status:</strong> <span id = "<%= if request.paid_status == "paid"
        "status-paid"
        elsif request.paid_status == "unpaid"
        "status-unpaid"
        else
          ""
        end %>"
        ><%= request.paid_status.capitalize %></span></h4>
    <% if request.status == "pending" && request.paid_status == "unpaid" %>
        <h6>We'll get back to you within 24 hours for conformation and payment</h6>
      <% elsif request.status == "in progress" && request.paid_status == "unpaid" %>
        <h6>Please check your email, we have sent you a payment link</h6>
    <% end %>

  </div>
<div class="summary-container">
  <div class="left-summary">
    <h3>Cake Details</h3>
    <h5>Size</h5>
    <p><%= request.custom_cake.name %></p>
    <h5>Flavour</h5>
    <p><%= request.flavour.name %></p>
    <p><%= request.flavour.description %></p>
    <h5>Your Design description</h5>
    <p><%= request.design_detail.design_description %></p>
    <% if request.design_detail.photos.present? %>
    <h5>Your Design Ideas</h5>
    <div class="design-ideas">
      <% request.design_detail.photos.each do |photo| %>
        <% unless photo.key.blank? %>
          <div class="design-idea-photo">
            <img src="<%= cl_image_path photo.key %>" alt="Deasign Idea">
          </div>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="right-summary">
    <h3>Request Details</h3>
     <h5>Customer</h5>
      <p><strong>Full Name</strong> - <%= request.user.first_name %> <%= request.user.last_name %></p>
      <p><strong>Email</strong> - <%= request.user.email %></p>
      <p><strong>Phone</strong> - <%= request.design_detail.phone_number %></p>
      <% if request.design_detail.delivery_required %>
        <h5>Delivery Details</h5>
        <p><strong>Delivery Date</strong> - <%= request.design_detail.datetime_of_occasion.strftime('%B %-d, %Y at %-I:%M%p') %></p>

        <p><strong>Street</strong> - <%= request.delivery_address.street %></p>
        <p><strong>City</strong> - <%= request.delivery_address.city %></p>
        <p><strong>Postcode</strong> - <%= request.delivery_address.postcode %></p>
        <% else %>
        <h5>Pickup Details</h5>
        <p><strong>Delivery Date</strong> - <%= request.design_detail.datetime_of_occasion.strftime('%B %-d, %Y at %-I:%M%p') %></p>
        <p><strong>Street</strong> - T's street + number</p>
        <p><strong>City</strong> - London</p>
        <p><strong>Postcode</strong> - T's POSTCODE</p>
      <% end %>
      <% if request.status == "pending" || request.status == "rejected" && current_user.admin == true %>
        <%= button_to "Accept", send_payment_path(request_id: request), class: "accept-payment-button", id: "" %>
        <%= button_to "Decline", reject_request_path(request_id: request), class: "decline-payment-button", id: "" %>
      <% end %>
      <% if request.status != "Completed" && request.paid_status == "paid" && current_user.admin == true%>
        <%= button_to 'Order completed', request_status_path(request_id: request, status: "completed"), class: "complete-request-button" %>
      <% end %>

  </div>
</div>
    <%= render "shared/footer"%>
