<%= render "shared/navbar-new" %>
<%= render "shared/header" %>
order completed!
<h2>Order Total</h2>
<p>Price Total: <%= @order.amount_cents / 100 %> GBP</p>
<% if @shipping_address %>
  <h2>Shipping Information</h2>
  <p>Name: <%= @shipping_address[:name] %></p>
  <p>Address: <%= @shipping_address[:address][:line1] %></p>
  <p><%= @shipping_address[:address][:city] %>, <%= @shipping_address[:address][:state] %></p>
  <p><%= @shipping_address[:address][:postal_code] %>, <%= @shipping_address[:address][:country] %></p>
<% end %>

<%= link_to "My orders", "/users/#{current_user.id}/orders", class: "btn-blue" %>
<%= link_to "Continue Shopping", "/products", class: "btn-blue" %>
