<%= render "shared/navbar-new" %>
<%= render "shared/header" %>
<div class="main-container">
<div class="title-container">
  <h1 id="basket-h1">Ordered on: <%=@order.created_at.strftime("%a, %d %b %Y")%></h1>
  <div class="form-header-back" id="order-show-back">
    <%= link_to order_managment_shop_path, class: "back-button", id: "back-button-shop" do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
  </div>
</div>
  <div class="basket-products-grid" id=<%= @order.line_items.length == 1 ? "if-only-one-product" : "" %> >
    <% @order.line_items.each_with_index do |item, index| %>
      <div class="basket-product-card" id="order-manegment-card">
        <div class="image-container">
          <%= cl_image_tag item.product.photos.first.key, class: "" %>
        </div>
        <div class="basket-product-card-details">
          <h5><%= item.product.name %></h5>
          <p></p>Quantity: <%= item.quantity %></p>
          <p class="">Price: <strong><%= humanized_money_with_symbol(item.product.price * item.quantity) %></strong></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="delivery-address-container">
    <div class="delivery-address-card">
      <h5>DELIVERY ADDRESS</h5>
      <h6><em><%= @current_user.first_name + " " + current_user.last_name %></em></h6>
      <p id="address-street-tag"><%= @order.delivery_address.street.upcase %></p>
      <p><%= @order.delivery_address.city %></p>
      <p><%= @order.delivery_address.postcode %></p>
    </div>
  </div>
  <div class="admin-button-container">
    <% if  current_user.admin? && @order.state == "completed" %>
      <%= button_to 'Order completed?', user_order_sent_path(order_id: @order, user_id: @order.user), class: "add-to-basket-button", id: "order-completed-btn" %>
    <% end %>
  </div>
</div>
