<%= render "shared/navbar-new" %>
<%= render "shared/header" %>
<div data-controller="line-item" class="container">
  <h1>Order for: <%=@order.created_at.strftime("%a, %d %b %Y")%></h1>
  <div class="row">
    <% @order.line_items.each do |item| %>
      <div class="col-6 col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= item.product.name %></h5>
            <%= cl_image_tag item.product.photos.first.key, height: 300, width: 300, crop: :fill, class: "card-image" %>
            <p class="card-price">Price: <%= humanized_money_with_symbol(item.product.price) %></p>
            <p class="card-price">Quantity: <%= item.quantity if item.quantity  %></p>
            <p class="card-price">Total: <%= humanized_money_with_symbol(item.product.price * item.quantity) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
