<%= render "shared/navbar-new" %>
<%= render "shared/header" %>
<div class="header-flex-title-buttons">
  <%= link_to "Custom orders", "", class: "request-button", style: "box-shadow: inset 0px 0px 0px 2px rgb(0 0 0);" %>
  <h2>Custom Orders</h2>
  <%= link_to "Shop orders", order_managment_shop_path, class: "shop-button", style: "box-shadow:0px 0px 8px rgba(0, 0, 0, 0.03);" %>
</div>
<div class="orders-container" >
  <% @requests.each do |request| %>
    <%= link_to request_path(request), style: "text-decoration: none; color: black;" do %>
      <div class="order-box">
        <div class="order-box-top">
          <h6><strong>Paid Status:</strong> <%= request.paid_status.capitalize %></h6>
          <h5 id="lengthen-width">Order for: <%= request.design_detail.datetime_of_occasion.strftime('%B %-d, %Y at %-I:%M%p') %></h5>
          <h5>£<%= request.custom_cake.price %></h5>

        </div>
        <div class="order-box-bottom">
          <h6><strong>Request: </strong><%= request.status.capitalize %></h6>
          <h5><em><%= request.custom_cake.name %></em></h5>
          <h6><strong>View order</strong></h6>
        </div>
      </div>
    <% end %>
  <% end %>
    <% if @requests.empty? %>
    <h5>You dont have any custom cake orders yet! </h5>
  <% end %>
</div>
