<%= render "shared/navbar-new" %>
<%= render "shared/header" %>
<div class="header-flex-title-buttons">
  <%= link_to "Custom cake orders", order_managment_path, class: "request-button", style: "box-shadow:0px 0px 8px rgba(0, 0, 0, 0.03);" %>
  <h2>Shop Orders</h2>
  <%= link_to "Shop orders", "", class: "shop-button", style: "box-shadow: inset 0px 0px 0px 2px rgb(0 0 0)" %>
</div>
<div class="orders-container">
  <% @orders.each do |order| %>
    <%= link_to user_order_url(current_user, order), style: "text-decoration: none; color: black;", class: "max-width" do %>
      <div class="order-box" id="shop-order-bgcolor">
        <div class="order-box-top">
          <h6><strong>Paid Status:</strong> Paid</h6>
          <h5 id="lengthen-width">Ordered on: <%=order.created_at.strftime("%a, %d %b %Y")%></h5>
          <h5>£<%= sprintf('%.2f', order.amount_cents/(100.to_f)) %></h5>
        </div>
        <div class="order-box-bottom">
          <h6><strong>Order: </strong><%= order.state.capitalize %></h6>
         <em> <h5>Number of products: <%= order.line_items.count %></h5></em>
          <h6><strong>View order</strong></h6>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @orders.empty? %>
    <h5>You dont have any past orders! </h5>
  <% end %>
</div>
