<%= render "shared/navbar-new" %>
<%= render "shared/header" %>
<div class="header-flex-title-buttons">
  <%= link_to "Custom cake orders", "", class: "request-button", style: "box-shadow: inset 4px 4px 16px rgba(0, 0, 0, 0.06);" %>
  <h2>Custom Cakes Orders</h2>
  <%= link_to "Shop orders", order_managment_shop_path, class: "shop-button", style: "box-shadow:0px 0px 16px rgba(0, 0, 0, 0.03);" %>
</div>
<div class="orders-container">
  <% @requests.each do |request| %>
    <%= link_to request_path(request), style: "text-decoration: none; color: black;", class: "max-width" do %>
      <div class="order-box">
        <div class="order-box-top">
          <h6><strong>Paid Status:</strong> <%= request.paid_status.capitalize %></h6>
          <h5><strong><%= request.custom_cake.name %></strong></h5>
          <h5>£<%= request.custom_cake.price %></h5>

        </div>
        <div class="order-box-bottom">
          <h6><strong>Request: </strong><%= request.status.capitalize %></h6>
          <h6><%= request.design_detail.datetime_of_occasion.strftime('%B %-d, %Y at %-I:%M%p') %></h6>
          <h6><strong>View order</strong></h6>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
