<%= render "shared/navbar-new" %>
<%= render "shared/header" %>
<div class="container mt-4">
  <p>Attention! If changing any product information, please upload all the images again.
  <br> Apologies for the inconvenience</p>
  <% @product.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill%>
    <h3><%=photo.id %></h3>
  <% end %>
  <%= simple_form_for (@product) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :stock_count %>
    <%= f.input :in_stock %>

    <%= f.input :price_cents %>
    <%= f.input :photos, as: :file, input_html: { multiple: true, overwrite: false } %>
    <%= f.button :submit, "Edit Product" %>
  <% end %>

  <%=link_to product_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-warning bottom-1 end-1 " do %>
    <i class="fa-solid fa-trash"></i>
  <% end %>
</div>
