<div class="container mt-4">
  <p>Attention! If changing any product information, please upload all the images again.
  <br> Apologies for the inconvenience</p>
  <%= simple_form_for (@product) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price_cents %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, "Edit Product" %>
  <% end %>
  <%=link_to product_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-warning bottom-1 end-1 " do %>
    <i class="fa-solid fa-trash"></i>
  <% end %>
</div>
