<%= render "shared/navbar-new" %>
<%= render "shared/header" %>
<div data-controller="increments" class="main-container ">
  <div class="product-show-main">
    <% @product.photos.each do |photo|%>
    <%= cl_image_tag photo.key%>
    <% end %>
      <div class="product-show-details">
      <h1><%= @product.name %></h1>
      <h5><strong>£<span data-increments-target="price"><%=@product.price%></span></strong></h5>
      <p class="small-label"> Description</p>
      <p><%=@product.description  %></p>
      <p class="small-label">Quantity</p>
      <%= simple_form_for([@product, @line_item], url: product_line_items_path(@product) ) do |f| %>
      <%= f.input :quantity, input_html: {style: 'display: none;', data: { target: "increments.quantity" }, value: 1} %>
      <div class="flex-it">
        <div data-action="click->increments#decrement" class=" decrement">
          <p>-</p>
        </div>
        <p data-increments-target="show" class="counter-box">1</p>
        <div data-action="click->increments#increment" class=" increment">
          <p>+</p>
        </div>
      </div>
      <%= f.submit "Add to basket £", class: "add-to-basket-button ", data: { target: "increments.basket" } %>
      <% end %>
      <% if current_user.try(:admin?) %>
      <%= link_to "edit", edit_product_path(@product) %>
      <% end %>
    </div>
  </div>
</div>
