<div class="container mt-4">
 <%= @product.description %>
 <%= @product.name %>
 <%= @product.price_cents %>
 <%= form_with url: orders_path do %>
  <%= hidden_field_tag 'product_id', @product.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
</div>
