<div class="container py-3">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h1><%= @product.name %></h1>
      <p><%=@product.description  %></p>
      <p>Amount<%= @product.price %></p>
      <%= simple_form_for @product, url: add_to_basket_path, method: :post do |f| %>
        <%= f.hidden_field :id %>
          <%= f.simple_fields_for :line_items do |p| %>
          <%= p.input :quantity %>
          <% end %>
        <%= f.submit "Add to Basket" %>
      <% end %>
    </div>
  </div>
</div>
